body {
    text-align: center;
    margin: 50px;
}

h1 {
    font-family: 'Oswald', sans-serif; 
}

p {
    font-family: 'Fira Sans', sans-serif; 
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

img {
    width: 200px;
    height: 200px;
    border-radius: 100px;
}