@charset "UTF-8";
h1 {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 40px;
}
h2 {
    font-size: 50px;
    font-family: 'Alumni Sans Collegiate One', sans-serif;
}
p {
    font-family: "맑은 고딕";
}
.fa-book-skull {
    color: red;
}