@charset "utf-8";

html {
    font-size: 100%;
}
body{
    color: #fff;
    font-family: sans-serif;
}

.title {
    font-family: 'Dancing Script', cursive;
    font-size: 7rem;
    margin-bottom: 2rem;
    color: wheat;
}
p {
    line-height: 1.7;
    font-size: 1.123rem;
    color: grey;
    font-weight:bold;
}

.container {
    overflow: auto;
    scroll-snap-type: y mandatory;
    height: 100vh;
}
section {
    height: 100vh;
    scroll-snap-align: start;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
/*===========hero================= */
.hero {
    background-image: url(/images/animals-gee77fb852_1920.jpg);
    text-align: center;
    padding-top: 10vh;
    color:#000
}

/*===========MENU================= */
.menu {
    background-image: url(/images/kittens-g80958092b_1920.jpg);
    display: flex;
    align-items: center;
}
.wrapper {
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
    padding: 0 1rem;
}
.menu-list tr {
    font-size: 1.125rem;
    margin-bottom: .5rem;
    line-height: 1.7;
}
.menu-list th {   font-weight: normal;}
.menu-list td {    padding-left: 1rem;}

/* contact */
.contact h2 {
    font-size: 15.5rem;
}
.contact {
    background-image: url(/images/cat-g9c1f13d3e_1920.jpg);
    text-align: center;
}
.contact p {
    font-size: 0.9rem;
    color: white;
    font-weight: bold;
}
.btn {
    margin-top: 3rem;
    background: wheat;
    font-size: 1.5rem;
    color: black;
    border-radius: 100px;
    display: inline-block;
    padding: 1rem 4rem;
}

.btn:hover {
    background: gray;
}
/* Mobile size */

@media (max-width:700px){
    .title {font-size: 4rem;}
    p,th,td {
        font-size: 1rem;
    }
    .contact p {
        font-size: 0.5rem;
    }
    .contact h2 {
        font-size: 10rem;
    }
    .btn {
        padding:0.5rem 2rem;
        font-size:0.8rem;
    }
}