@charset "utf-8";

header {
    height: 110px;
    background-color: black;
}

.name {
    font-size: 40px;
    text-align: center;
    color: white;
    font-weight: bold;
    list-style: none;
    font-family: 'Dancing Script', cursive;
}

.list li {
    display: inline-block;
    color: white;
    list-style: none;
    margin-left: 40px;
    margin-right: 40px;
}

.list {
    text-align: center;
}

.list li a {
    text-decoration: none;
    text-transform: uppercase;
}

.list li a:link {
    color: white;
}

.list li a:visited {
    color: white;
}

.list li a:after {
    display: block;
    content: '';
    border-bottom: solid 3px white;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
}

.list li a:hover:after {
    transform: scaleX(1);
}

.main {
    margin: 0 auto;
    height: 5300px;
    width: 1300px;
}

footer {
    background-color: #424242;
    height: 230px;
}

.footermain {
    margin: 0 auto;
    height: 200px;
    width: 1400px;
    padding-top: 20px;
}

span {
    color: white;
    font-size: 25px;
    margin-left: 38px;
}

.footermain ul {
    list-style: none;
    display: inline-block;
}

.footermain a {
    text-decoration: none;
}

.footermain li a:link {
    color: white;
}

.footermain li a:visited {
    color: white;
}

.line {
    height: 1px;
    background-color: gray;
}

.footermain li {
    padding-right: 70px;
    padding-top: 10px;
}

.ha {
    padding-top: 50px;
    font-size: 13px;
}

.me {
    font-family: 'Dancing Script', cursive;
}

.welcome {
    margin-top: 100px;
}

.welcome .main_img li img {
    width: 616px;
    height: 359px;
    float: left;
    margin-top: 10px;

}

.main li {
    list-style: none;
}

.welcome .main_img li .side_img {
    width: 550px;
    height: 168px;
    float: left;
    margin: 10px;
}

.welcome .main_img li .side_img span {
    width: 560px;
    height: 168px;
    float: left;
    margin: 3px;
    font-size: 20px;
    color: #424242;
}

.welcome h2 {
    margin-top: 40px;
    color: #424242;
    margin-left: 40px;
}

.hot h2 {
    margin-top: 490px;
    color: #424242;
    margin-left: 40px;
}

.imgs img {
    margin: 5px;
    width: 405px;
    float: left;
    height: 270px;
}

.imgs div {
    margin: 5px;
    width: 405px;
    float: left;
    height: 270px;
}

.imgs h3 {
    margin-left: 5px;
}

.imgs span {
    color: #424242;
    font-size: 13px;
    float: left;
    margin: 0 auto;
}

.imgs {
    margin-left: 30px;
}

.hot {
    margin-top: 60px;
}
