@charset "utf-8";
body {
    margin: 0;
    font-size: 15px;
    display: flex;
    justify-content: center;
}

.container {
    width: 1200px;
    border: 1px solid black; 
}

header {
    height: 100px;
    display: flex;
    justify-content: space-between;
}

header > div {
/* 공통 */
    border: 1px solid black;
}

.logo {
    width: 200px;
}

.nav {
    width: 600px;
}

.slide {
    height: 300px;
}

.slide > div {
    /* 공통 */
    border: 1px solid black;
}

.items {
    height: 200px;
    display: flex;
}

.items > div {
    /* 공통 */
    border: 1px solid black;
}

.news {
    width: 500px;
}

.banner {
    width: 350px;
}

.goto {
    width: 350px;
}

footer {
    height: 100px;
    display: flex;
}

footer > div {
    /* 공통 */
    border: 1px solid black;
}

.footer-logo {
    width: 200px;
}

.copyright {
    width: 800px;
}

.sns {
    width: 200px;
}