@charset "utf=8"
    * {
        margin: 0;
        padding: 0;
}
#map {
    width: 980px;
    margin: 0 auto;
}
header {
    height: 80px;
    background-color: #cccccc;
}
aside {
    width: 25%;
    height: 500px;
    background-color: yellow;
}
main {
    width: 75%;
    height: 500px;
    background-color: greenyellow;
    float: left;
}
footer {
    height: 75px;
    background-color: #cccccc;
    
}